## 3.1

In [ ]:
## in the middle of this program, you will find a large portion of commented out code. 
## this is the result of my code, seemingly unprompted, ceasing to recoginze my list variable.
## this has made me unable to properly test the rest of my code, apologies in advance

In [83]:
names = ["saffiyah", "baljaa", "katrina"]

In [85]:
names[0]

'saffiyah'

In [86]:
names[1]

'baljaa'

In [87]:
names[2]

'katrina'

## 3.2

In [95]:
message = "i <3 you"
message + " " + friends[0]

'i <3 you saffiyah'

In [94]:
message + " " + friends[1]

'i <3 you baljaa'

In [93]:
message + " " + friends[2]

'i <3 you katrina'

## 3.3

In [97]:
metro = ["paris metro" , "copenhagen metro" , "madrid metro"]
huh = "i found the " + metro[2] + " to be the most confusing"
oop = "the way "+ metro[0] + " cars don't fully stop sometimes scares me"
love = "the " + metro[1] + " is so good, miss her </3"
oop

"the way paris metro cars don't fully stop sometimes scares me"

In [98]:
huh

'i found the madrid metro to be the most confusing'

In [99]:
love

'the copenhagen metro is so good, miss her </3'

## 3.4

In [54]:
dinner = ["whitney houston", "juanita", "marsai martin"]
print(dinner)

## invite = " are you free for dinner on monday?" 
## print(dinner[0] + invite)
## print(dinner[1] + invite)
## print(dinner[2] + invite)

TypeError: 'str' object is not callable

## 3.5

In [47]:
print(dinner)
decline = dinner[2]
print = decline + " cant make it :("
dinner[2] = "ayo edibri"


print(dinner[0] + invite)
print(dinner[1] + invite)
print(dinner[2] + invite)

TypeError: 'str' object is not callable

## 3.6

In [53]:
## news = "everyone, turns out tatiana's can get a bigger table than planned!"
## print(news)

## dinner.insert(0, "juanita")
## dinner.insert(1, "issa rae")
## dinner.append("helen")

## print(dinner[0] + invite)
## print(dinner[1] + invite)
## print(dinner[2] + invite)
## print(dinner[3] + invite)
## print(dinner[4] + invite)

TypeError: 'str' object is not callable

## 3.7

In [24]:
## sad = "plans fell through, i'll have to downsize the group"
## print(sad)

## remove = dinner.pop()
## next = remove + " so sorry, but we'll have to reschedule"
## print(next)

## remove = dinner.pop()
## dinner.pop()
## print(next)

## remove = dinner.pop()
## dinner.pop()
## print(next)

## confirm = "hope to still see you on monday!"
## print(dinner[0] + confirm)
## print(dinner[1] + confirm)

## dinner.remove(0)
## dinner.remove(1)
## print(dinner)

plans fell through, i'll have to downsize the group

IndexError: list index out of range

## 3.8

In [34]:
travel = ["kenya","new zealand","india","taiwan","peru"]

In [35]:
print("orginal order")
print(travel)

orginal order
['kenya', 'new zealand', 'india', 'taiwan', 'peru']

In [36]:
print("temp sorted order")
print(sorted(travel))

temp sorted order
['india', 'kenya', 'new zealand', 'peru', 'taiwan']

In [37]:
print("orginal order")
print(travel)

orginal order
['kenya', 'new zealand', 'india', 'taiwan', 'peru']

In [38]:
print("temp reverse sorted order")
print(sorted(travel, reverse=True))

temp reverse sorted order
['taiwan', 'peru', 'new zealand', 'kenya', 'india']

In [39]:
print("orginal order")
print(travel)

orginal order
['kenya', 'new zealand', 'india', 'taiwan', 'peru']

In [40]:
print("reversed order")
travel.reverse()
print(travel)

reversed order
['peru', 'taiwan', 'india', 'new zealand', 'kenya']

In [41]:
print("re-reversed order")
travel.reverse()
print(travel)

re-reversed order
['kenya', 'new zealand', 'india', 'taiwan', 'peru']

In [42]:
print("again reversed order")
travel.sort(reverse=True)
print(travel)

again reversed order
['taiwan', 'peru', 'new zealand', 'kenya', 'india']