## 6-1

In [3]:
doc_info = {'first name':'doc','last name':'mcstuffins','city':'McStuffinsville'}
print(doc_info)

{'first name': 'doc', 'last name': 'mcstuffins', 'city': 'McStuffinsville'}

## 6-2

In [7]:
favorite_numbers = {
    'matilda': '54',
    'lavender': '23',
    'zinnia': '98',
    'julius': '67',
    'harry':'38' 
}

In [11]:
for user, number in favorite_numbers.items():
  print(user, number)

matilda 54
lavender 23
zinnia 98
julius 67
harry 38

## 6-3

In [14]:
terms = {
    'pop': 'remove',
    'append':'add on',
    'loop': 'recurse through something',
    'title':'titlecase something',
    'argument':'a value passed to a function'
}

In [25]:
for term, definition in terms.items():
  print(term + ':')
  print(definition + '\n')

pop:
remove

append:
add on

loop:
recurse through something

title:
titlecase something

argument:
a value passed to a function

## 6-4

In [28]:
for term, definition in terms.items():
  print(term.title() + ': ' + definition.title())

Pop: Remove
Append: Add On
Loop: Recurse Through Something
Title: Titlecase Something
Argument: A Value Passed To A Function

In [33]:
terms = {
    'pop': 'remove',
    'append':'add on',
    'loop': 'recurse through something',
    'title':'titlecase something',
    'argument': 'a value passed to a function',
    'comment': 'code not to be executed',
    'int': 'integer number type',
    'boolean' : 'true or false value',
    'list' : 'ordered collection',
    'elif' : 'else if statement'
}

In [34]:
for term, definition in terms.items():
  print(term.title() + ': ' + definition.title())

Pop: Remove
Append: Add On
Loop: Recurse Through Something
Title: Titlecase Something
Argument: A Value Passed To A Function
Comment: Code Not To Be Executed
Int: Integer Number Type
Boolean: True Or False Value
List: Ordered Collection
Elif: Else If Statement

## 6-5

In [35]:
rivers = {
    'amazon':'peru',
    'mississippi' : 'montanta',
    'ganges ': 'india'
}

In [37]:
for river, country in rivers.items():
  print("The " + river.title() + ' runs through ' + country.title())

The Amazon runs through Peru
The Mississippi runs through Montanta
The Ganges  runs through India

In [38]:
for river, country in rivers.items():
  print(river.title())

Amazon
Mississippi
Ganges

In [39]:
for river, country in rivers.items():
  print(country.title())

Peru
Montanta
India

## 6-7

In [43]:
ball_info = {'first name':'lonzo','last name':'ball','city':'anaheim'}
spongebob = {'first name':'spongebob','last name':'squarepants','city':'bikini bottom'}
people = [doc_info, ball_info, spongebob]
for person in people:
    print(person)

{'first name': 'doc', 'last name': 'mcstuffins', 'city': 'McStuffinsville'}
{'first name': 'lonzo', 'last name': 'ball', 'city': 'anaheim'}
{'first name': 'spongebob', 'last name': 'squarepants', 'city': 'bikini bottom'}

## 6-8

In [47]:
mumu = {'name':'mumu','kind':'cat', 'owner':'nneoma'}
sparkle = {'name':'sparkle','kind':'dog','owner':'london'}
chad = {'name':'chad','kind':'snake', 'owner':'olive'}
pets = [mumu, sparkle, chad]

In [50]:
for pet in pets:
    print(pet)

{'name': 'mumu', 'kind': 'cat', 'owner': 'nneoma'}
{'name': 'sparkle', 'kind': 'dog', 'owner': 'london'}
{'name': 'chad', 'kind': 'snake', 'owner': 'olive'}

## 6-9

In [65]:
favorite_places = {
    'billy':['amsterdam'],
    'bo': ['accra','madrid'],
    'peep':['montreal','lagos']
}

In [67]:
for name, places in favorite_places.items():
    print("\n" + name.title() + "'s favorite cities are: ")
    for place in places:
        print(place.title())

Billy's favorite cities are:
Amsterdam

Bo's favorite cities are:
Accra
Madrid

Peep's favorite cities are:
Montreal
Lagos

## 6-11

In [69]:
cities = {
    'amsterdam': {
        'location': 'netherlands',
        'population': '821,752',
        'fun fact':'Amsterdam has the only floating flower market in the world',
    },
    'accra': {
        'location':'ghana',
        'population': '2,605,000',
        'fun fact': 'The word Accra comes from the word Nkran meaning ants',
    },
    'madrid': {
        'location':'spain',
        'population': '3,223,000 ',
        'fun fact': 'Madrid is one of the greenest cities in Europe',
    },
}

In [71]:
for city, city_info in cities.items():
    print(city + " is located in " + city_info['location'])
    fact = city_info['fun fact']
    population = city_info['population']
    
    print("\tThe Population is" + population)
    print("\tA fun fact is: " + fact)

amsterdam is located in netherlands
	The Population is821,752
	A fun fact is: Amsterdam has the only floating flower market in the world
accra is located in ghana
	The Population is2,605,000
	A fun fact is: The word Accra comes from the word Nkran meaning ants
madrid is located in spain
	The Population is3,223,000
	A fun fact is: Madrid is one of the greenest cities in Europe